@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-dark: #0f0e17;
  --color-primary: #facc15;
  --color-secondary: #f25f4c;
  --color-tertiary: #e53170;
  --color-board: #38bdf8;
  --font-sans: "Changa", sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
